body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

p, h2 {
    font-size: 18px;
    margin-top: 20px;
}

table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

.footer {
    padding: 2rem;
    font-size: 15px;
    color: #999;
}